<div class="offset2 span7">
  <div class="offset1">
      <form class="form-signin" role="form" action="/loginweb" method="POST">
        <h2 class="form-signin-heading">Login to Textstagram</h2>
        <input name="username" type="text" class="form-control" placeholder="User Name" required="" autofocus="">
        <input name="password" type="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
  </div>
</div>
