<div class=row>
  <div class="col-md-3 col-md-offset-2"><a href="/user/<%= post.submitted_by %>"><%= post.submitted_by %></div>
  <div class="col-md-8 col-md-offset-2 <%= post.filter %>" style="font-size: 57px; padding-bottom: 10px;"><%= post.body %></div>
</div>
