<div class="col-md-11">
  <img height="100" src="https://secure.gravatar.com/avatar/cd22b125598d302d73fd83719f262292?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="100" class="pull-left st-push5-right">
  <h3 class="black">&nbsp;&nbsp;&nbsp; <%= user %></h3>
  <h4>&nbsp;&nbsp;&nbsp; Followers: 100 &nbsp;&nbsp;&nbsp; Following: 100</h4>
</div>
