<div class="offset2 span7">
  <div class="offset1">
    <h3>Sign Up for Textstagram</h3>
    <form name="form-login" method="POST" action="/signupweb" class="form">
      <input type="text" name="email" placeholder="email" value="" tabindex="1" class="span4">
      <input type="password" name="password" placeholder="password" tabindex="2" class="span4">
      <input type="hidden" name="ref_id" value="0">
      <label class="checkbox"></label>
      <input type="checkbox" name="agree" value="yes" tabindex="3"> I Agree to the <a href="/tos">Terms of Use</a> and <a href="/privacypolicy">Privacy Policy</a>
      <br>
      <br>
      <input type="submit" name="submit" value="Register" tabindex="4" class="btn btn-primary btn-large span4">
    </form>
  </div>
</div>
