<div class="row">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Special+Elite:400" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <div class="col-md-10 col-md-offset-1">
    <form name="form-testdoc" method="POST" action="/postcontent" id="form_code_sub" class="form">
      <textarea id="mainText" name="post-content" class="form-control" rows="4"></textarea>
      <input name="filter" type="hidden" value="" id="form_filter" />
      <span class="help-block">Submit a new Textstagram</span><button type="submit" id="sub_but" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<br /><br /><br />

<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Whole Wheat</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Dressed Up</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText whole-wheat">Whole Wheat</div>
  <div class="col-md-4 col-md-offset-2 filterText dressed-up">Dressed Up</div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Stark</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Blueprint</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText stark">Stark</div>
  <div class="col-md-4 col-md-offset-2 filterText blueprint">Blueprint</div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Clarity</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Royal</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText clarity" style="">Clarity</div>
  <div class="col-md-4 col-md-offset-2 filterText royal" style="">Royal</div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Teletype</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>1UP</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText teletype">Teletype</div>
  <div class="col-md-4 col-md-offset-2 filterText one-up">1UP</div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Lights</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Vortex</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText lights">Lights</div>
  <div class="col-md-4 col-md-offset-2 filterText vortex">Vortex</div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Confidential</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Broadway</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText confidential">Confidential</div>
  <div class="col-md-4 col-md-offset-2 filterText broadway">Broadway</div>
</div>
<script>
  $("#mainText").bind('input propertychange', function(){
    $(".filterText").text($("#mainText").val());
  });
  var previousClass = "whole-wheat";
  $(document).ready(function (){
    $("#mainText").addClass("whole-wheat");
    $("#form_filter").val("whole-wheat");
  });
  $(".whole-wheat").click(function (){
    $("#mainText").removeClass(previousClass).addClass("whole-wheat");
    $("#form_filter").val("whole-wheat");
    previousClass = "whole-wheat";
  });
  $(".dressed-up").click(function (){
    $("#mainText").removeClass(previousClass).addClass("dressed-up");
    $("#form_filter").val("dressed-up");
    previousClass = "dressed-up";
  });
  $(".stark").click(function (){
    $("#mainText").removeClass(previousClass).addClass("stark");
    $("#form_filter").val("stark");
    previousClass = "stark";
  });
  $(".blueprint").click(function (){
    $("#mainText").removeClass(previousClass).addClass("blueprint");
    $("#form_filter").val("blueprint");
    previousClass = "blueprint";
  });
  $(".clarity").click(function (){
    $("#mainText").removeClass(previousClass).addClass("clarity");
    $("#form_filter").val("clarity");
    previousClass = "clarity";
  });
  $(".royal").click(function (){
    $("#mainText").removeClass(previousClass).addClass("royal");
    $("#form_filter").val("royal");
    previousClass = "royal";
  });
  $(".teletype").click(function (){
    $("#mainText").removeClass(previousClass).addClass("teletype");
    $("#form_filter").val("teletype");
    previousClass = "teletype";
  });
  $(".one-up").click(function (){
    $("#mainText").removeClass(previousClass).addClass("one-up");
    $("#form_filter").val("one-up");
    previousClass = "one-up";
  });
  $(".lights").click(function (){
    $("#mainText").removeClass(previousClass).addClass("lights");
    $("#form_filter").val("lights");
    previousClass = "lights";
  });
  $(".vortex").click(function (){
    $("#mainText").removeClass(previousClass).addClass("vortex");
    $("#form_filter").val("vortex");
    previousClass = "vortex";
  });
  $(".confidential").click(function (){
    $("#mainText").removeClass(previousClass).addClass("confidential");
    $("#form_filter").val("confidential");
    previousClass = "confidential";
  });
  $(".broadway").click(function (){
    $("#mainText").removeClass(previousClass).addClass("broadway");
    $("#form_filter").val("broadway");
    previousClass = "broadway";
  });


</script>
