<div class="row">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <div class="col-md-10 col-md-offset-1">
    <form name="form-testdoc" method="POST" action="/post" id="form_code_sub" class="form">
      <textarea name="post-content" class="form-control" rows="4" style="font-family: 'Roboto Slab', serif; font-size: 30px; background: blue; color: white;"></textarea>
      <span class="help-block">Submit a new Textstagram</span><button type="submit" id="sub_but" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
