<div class="row">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
  <div class="col-md-10 col-md-offset-1">
    <form name="form-testdoc" method="POST" action="/post" id="form_code_sub" class="form">
      <textarea id="mainText" name="post-content" class="form-control" rows="4" style="font-family: 'Roboto Slab', serif; font-size: 30px; background: blue; color: white;"></textarea>
      <span class="help-block">Submit a new Textstagram</span><button type="submit" id="sub_but" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<br /><br /><br />

<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Whole Wheat</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Dressed Up</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText whole-wheat">Whole Wheat</div>
  <div class="col-md-4 col-md-offset-2 filterText dressed-up">Dressed Up</div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Stark</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Blueprint</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText stark">Stark</div>
  <div class="col-md-4 col-md-offset-2 filterText blueprint">Blueprint</div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Clarity</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Royal</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText clarity" style="">Clarity</div>
  <div class="col-md-4 col-md-offset-2 filterText royal" style="">Royal</div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-4 col-md-offset-1"><h4>Lights</h4></div>
  <div class="col-md-4 col-md-offset-2"><h4>Royal</h4></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 filterText lights">Lights</div>
  <div class="col-md-4 col-md-offset-2 filterText" style="font-family: 'Metamorphous', cursive;; font-size: 30px; background: #8315AF; color: #FFE42B;">Royal</div>
</div>
<script>
  $("#mainText").bind('input propertychange', function(){
    $(".filterText").text($("#mainText").val());
  });

</script>
