<div class="col-md-11">
  <img height="100" src="https://secure.gravatar.com/avatar/cd22b125598d302d73fd83719f262292?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="100" class="pull-left st-push5-right">
  <h3 class="black">&nbsp;&nbsp;&nbsp; <%= title %></h3>
  <h4>&nbsp;&nbsp;&nbsp; Followers: <span id="followers_count">100</span> &nbsp;&nbsp;&nbsp; Following: 100</h4>
  <hr />
  <button type="button" id="follow" class="btn follow">
    Follow
  </button>
  <script>
  $(function(){  
   $("button#follow").click(function(){  
    //fadeout the follower-count  
    $("span#followers_count").fadeOut("fast");
   
    $.ajax({  
      type: "POST",  
      data: "tofollow="+<%= title %>,  
      url: "/followuser",
      success: function(msg)  
      {  
       $("span#followers_count").html(msg);  
       //fadein the vote count  
       $("span#followers_count").fadeIn();
       $("button#follow").replaceWith("Following");
       $("button#follow").attr("id","following");
      }  
    });
   });  
  });  

  </script>
  <script>
  $(function(){  
   $("button#following").click(function(){  
    //fadeout the follower-count  
    $("span#followers_count").fadeOut("fast");
   
    $.ajax({  
      type: "POST",  
      data: "tounfollow="+<%= title %>,  
      url: "/unfollowuser",
      success: function(msg)  
      {  
       $("span#followers_count").html(msg);  
       //fadein the vote count  
       $("span#followers_count").fadeIn();
       $("button#following").replaceWith("Follow");
       $("button#following").attr("id","follow");
      }  
    });
   });  
  });  

  </script>
  <hr />
  <h2>Posts: </h2>
</div>
